# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# Byproduct file, created automatically
RF_regions_id_geometry.geojson
*/RF_regions_id_geometry.geojson/*

# C extensions
*.so

# Pictures
*.png

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

# Others
*.DS_Store

